<div class="d-flex flex-column h-100 w-100">
  <div class="container content-container d-flex justify-content-center">
    <div class="d-flex flex-column align-items-center">
      <div class="text-title pt-32">404 NOT FOUND</div>
      <div class="d-flex p-0 flex-column align-items-center">
        <span class="text-body pt-32 pb-3"> Pagina nu a fost gasita. </span>
        <button routerLink="/" class="btn btn-primary font-weight-normal">
          Inapoi
        </button>
      </div>
    </div>
  </div>
</div>
