@import "../../assets/variables";
@import "../../assets/mixins";

.header {
  background-color: #f7f9fb;
  height: rem(56);
  .status-area {
    background-color: $light-grey-2;
  }
  .bg-sidebar {
    background-color: $sidebar;
  }
  .logo {
    width: rem(135);
    img {
      height: rem(40);
    }
  }
  .logo-title {
    color: #ffffff;
    font-family: Comfortaa;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 18px;
  }
  .oval-red {
    height: rem(8);
    width: rem(8);
    border-radius: rem(5);
    background-color: $red;
  }
  .oval-green {
    height: rem(8);
    width: rem(8);
    border-radius: rem(5);
    background-color: $green;
  }
}
.stop-imp img {
  width: 20px;
}
.header-text-bold {
  font-size: rem(13);
  line-height: rem(16);
  font-weight: bold;
  letter-spacing: -0.2px;
}
.header-text {
  font-size: rem(13);
  line-height: rem(16);
  letter-spacing: -0.2px;
}
.left-side {
  cursor: pointer;
  .avatar {
    width: rem(50);
    height: rem(36);
  }
  .username {
    flex-wrap: wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    max-width: 100px;

    @media (min-width: 768px) and (max-width: 991.98px) {
      width: rem(30);
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      width: rem(60);
    }
    @media (min-width: 1200px) and (max-width: 1365px) {
      width: rem(70);
    }
    @media (min-width: 1366px) and (max-width: 1439px) {
      width: rem(80);
    }
    @media (min-width: 1440px) and (max-width: 1600px) {
      width: rem(80);
    }
    @media (min-width: 1601px) and (max-width: 1919px) {
      width: rem(100);
    }
    @media (min-width: 1920px) {
      width: rem(100);
    }
  }
}
.navbar {
  padding: rem(8) 0;
  position: absolute;
}

// .arrow {
//   @media (min-width: 768px) and (max-width: 991.98px) {
//     padding-left: rem(78);
//   }
//   @media (min-width: 992px) and (max-width: 1199.98px) {
//     padding-left: rem(112);
//   }
//   @media (min-width: 1200px) and (max-width: 1365px) {
//     padding-left: rem(134);
//   }
//   @media (min-width: 1366px) and (max-width: 1439px) {
//     padding-left: rem(162);
//   }
//   @media (min-width: 1440px) and (max-width: 1600px) {
//     padding-left: rem(172);
//   }
//   @media (min-width: 1601px) and (max-width: 1919px) {
//     padding-left: rem(172);
//   }
//   @media (min-width: 1920px) {
//     padding-left: rem(252);
//   }
// }

.navbar-nav .dropdown-menu {
  position: absolute;
  top: rem(38) !important;
}
.dropdown-menu {
  border: 1px solid $medium-grey-2 !important;
  border-radius: rem(8) !important;
  padding: rem(16) 0;
}
.dropdown-item {
  padding: rem(8) 16px;
  border-bottom: 1px solid $medium-green-3 !important;
  cursor: pointer;
}

.name {
  color: #464976;
  font-family: Montserrat;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: right;
}
.organization {
  color: #878999;
  font-family: Montserrat;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  float: right;
}

.choose-company {
  color: #878999;
  font-family: Montserrat;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}
.rc-dropdown .dropdown-item {
  border-bottom: none !important;
}
.rc-item {
  padding: 8px 16px;
}
.rc-divider-item {
  padding: 8px 16px;
}
.rc-item a {
  color: #878999;
  font-family: Montserrat;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
}
.rc-item .secondary {
  color: #878999;
  font-family: Montserrat;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}
.rc-dropdown-divider {
  border-top: 1px solid #cde0ec !important;
  margin: 8px 0px;
}
.cart {
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 3px;
  left: 10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #d9471f;
  color: #ffffff;
  font-family: "Helvetica Neue";
  font-size: 9px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;
}
.pulse {
  position: absolute;
  top: -2px;
  left: 5px;
  height: 30px;
  width: 30px;
  z-index: 10;
  border: 5px solid #d9471f;
  border-radius: 70px;
  animation: pulse 1s ease-out infinite;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }

  25% {
    -webkit-transform: scale(0.1);
    opacity: 0.1;
  }

  50% {
    -webkit-transform: scale(0.5);
    opacity: 0.3;
  }

  75% {
    -webkit-transform: scale(0.8);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

.heartbeat {
  animation: heartbeat 3s cubic-bezier(0.175, 0.885, 0.32, 1.3) infinite;
}
@keyframes heartbeat {
  0%,
  10%,
  20% {
    transform: scale(1);
  }

  5%,
  15% {
    transform: scale(2);
  }
}
