<div class="header mx-0 d-flex align-items-center w-100">
  <div class="container content-container mx-0 w-100">
    <div
      class="header-content d-flex flex-column justify-content-between w-100"
    >
      <div
        class="d-flex flex-row status-area justify-content-between px-32 py-2"
      >
      </div>
      <div
        class="d-flex flex-row py-31 align-items-center justify-content-between"
      >
        <div class="d-flex col-10 p-0 pr-32 justify-content-between">
          <div class="pl-32 text-title">{{ pageTitle$ | async }}</div>

          <img class="logo" src="../../assets/images/Logo.svg" alt="logo" />
        </div>
      </div>
    </div>
  </div>
</div>
