<ng-container>
    <div class="rc-sh-card">

        <div class="rc-initial-title">
            <span class="rc-primary-color s12-h16 montserrat-bold-font ls-0">WL</span>
        </div>
        <div class="rc-full-title">
            <span class="montserrat-semibold-font s15-h24 rc-accent-blue-160-color ls-0">{{item.name}}</span>
        </div>

        <div class="rc-product-fees-section">
            <div class="rc-product-fees-group">
                <div class="rc-product-fees-title">
                    <span class="s12-h16 rc-grey-color montserrat-regular-font ls-0">Initial fee</span>
                </div>
                <div class="rc-product-fees-price">
                    <span class="rc-accent-blue-160-color s22-h32 montserrat-medium-font ls-0">{{item.initial_fee}} $</span>
                </div>
            </div>
            <div class="rc-product-fees-group">
                <div class="rc-product-fees-title">
                    <span class="s12-h16 rc-grey-color montserrat-regular-font ls-0">Subscription fee</span>
                </div>
                <div class="rc-product-fees-price">
                    <span class="rc-accent-blue-160-color s22-h32 montserrat-medium-font ls-0">{{item.subscription_fee}} $</span>
                </div>
            </div>
        </div>

        <div class="rc-sh-card-body">
            <div class="rc-product-description">
                <p class="rc-grey-color s14-h16 helvetica-neue-regular ls-0">
                    {{item.description}}.
                </p>
            </div>
            <div class="rc-sh-card-body-link">
                <app-button type="link" color="tertiary">
                    link
                </app-button>
            </div>
        </div>

        <div class="rc-sh-card-footer">
            <app-button type="link" color="tertiary">
                Secondary link
            </app-button>

            <app-button type="Submit" color="primary">
                Buy
            </app-button>

        </div>

    </div>
</ng-container>