<ng-container [formGroup]="formGroup">
    <div class="mx-0">
         <label class="rc-grey-color s12-h16 montserrat-regular-font text-weight-normal m-0"
            [ngClass]="config?.selectLabel?.classes">{{ config?.selectLabel?.text }}
        </label>
        
        <div
            *ngIf="!config?.searchable"
            class="rc-select" 
            [ngClass]="{
                'rc-select-filled': config?.formStatus?.isFilled,
                'rc-select-error': config?.formStatus?.isError,
                'rc-select-disabled': config?.formStatus?.isDisabled,
                'rc-select-focus': config?.formStatus?.isFocus
            }"
        >
            <select #selectEl formControlName="select" [compareWith]="compareWithFn" (change)="selectChange($event.target.value)">

                <option *ngFor="let item of items | async" [value]="item.id">
                    {{item.option}}
                </option>
                
            </select>
        </div>

        <div 
            class="rc-select" 
            *ngIf="config?.searchable"
        >
            <ng-select [items]="items | async"
                   [virtualScroll]="true"
                   bindLabel="option"
                   bindValue="id"
                   [placeholder]="config?.placeholder || 'Select'"
                   formControlName="select">
            </ng-select>

        </div>

    </div>
</ng-container> 