<app-page-container [config]="containerConfig">
    <div class="w-100" container-body>
        <div class="page-header mb-24">
            <div class="row align-items-center">
                <div class="col">
                    <p class="pyramid-title">Administration</p>
                    <h1 class="new-user">OPTIONS</h1>      
                </div>
                <div class="col-auto float-right ml-auto d-flex flex-direction-row align-items-center">
                   
                    <!--  -->
                    <app-button type="button" color="primary">
                        Add new option
                    </app-button>
                    <!--  -->
                </div>
            </div>
        </div>
        <app-table [rows]="tableData | async" [config]="tableConfig" (filterData)="filterTable($event)"
            [rowDetailConfig]="rowDetailIcons"></app-table>
    </div>
</app-page-container>

<ng-template #hoverDetailTpl let-column="column" let-row="row">
    <div class="d-flex justify-content-end w-100">
        <div class="d-flex bg-container justify-content-end py-10 mt-n10">
            <div class="row-detail d-flex align-items-center">
                lorem ipsiu,
            </div>
        </div>
    </div>
</ng-template>
<ng-template #actionDropdown let-column="column" let-row="row" let-rowIndex="rowIndex">
    <div class="btn-group" dropdown [dropup]="isDropup">
        <a (click)="setDropUp(row)" id="button-basic" dropdownToggle type="button" class="text-dark a-ellipse"
            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
        </a>
        <ul aria-labelledby="dropdownMenuButton" *dropdownMenu class="dropdown-menu" role="menu"
            aria-labelledby="button-basic">
            <li (click)="manageSub(row)" role="menuitem"><a class="dropdown-item" href="#">Manage</a></li>
            <li (click)="removeRow(row)" role="menuitem"><a class="dropdown-item" href="#">Delete</a></li>

        </ul>
    </div>

</ng-template>


<ng-template #expiredIconTemplate let-column="column" let-value="cellValue">
    <div class="table-status-column">
        <ng-container [ngSwitch]="value">
            <span class="pb-10" *ngSwitchCase="'Yes'">
                <label class="container">Yes
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                  </label>
            </span>
            <span *ngSwitchCase="'No'">
                <label class="container">No
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
            </span>
            <span *ngSwitchCase="0">{{value}}</span>
            <span *ngSwitchDefault>{{value}}</span>
        </ng-container>
        <img *ngIf="value === 0" src="./../../assets/images/expired.svg" alt="expired-icon" class="isExpired" />
    </div>
</ng-template>