<div class="d-flex flex-column h-100 w-100">
    <div class="container content-container d-flex justify-content-center">
      <div class="d-flex flex-column">
        <div class="rc-404-card">
          <img src="../../assets/images/403.svg" />
          <div class="title-403">403</div>
          <div class="access-denied">Access Denied</div>

          <div class="no-permi" *ngIf="!userPermissionTooLow">You don’t have permission to access this page.</div>
          
          <div class="no-permi" *ngIf="userPermissionTooLow">Your Access Permission is too Low. Please Contact Admin</div>

          <button [routerLink]="bactToLink" class="btn btn-primary go-back" *ngIf="!userPermissionTooLow">
            Go back
          </button>

          <button class="btn btn-primary go-back" *ngIf="userPermissionTooLow" (click)="userLogOut()">
            log out
          </button>

        </div>
      </div>
    </div>
  </div>
  
