.summaryTable td {
    
    height: 40px;
    font-family: "Helvetica Neue", Arial, sans-serif !important;
    font-size: 14px;
    line-height: 1rem;
    color: #161A37;
    text-align: left;
    vertical-align: top;
    word-wrap: break-word !important;
}
.summaryTable.table > tbody > tr:first-child > td {
    border: none;
}
.total td {
    height: 16px;
    width: 75px;
    color: #161A37;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 16px;
  }
  .summary {
    margin-top:  40px;
    color: #161A37;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
  }
  .nothing{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #2D71B1;
    border-radius: 4px;
    padding: 16px;
    background-color: #FFFFFF;
  }
  .nothing-text {
    height: 40px;
    color: #161A37;
    font-family: Montserrat;
    font-size: 16px;
    padding-left: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 38px;
  }
