<app-page-container [config]="containerConfig">
    <div class="w-100 mt-40" container-body>
       
        <app-table [rows]="tableData | async" [preselectedRows]="preselectedRows" [config]="tableConfig" (filterData)="filterTable($event)"
            [rowDetailConfig]="rowDetailIcons" (selectedRows)="getRow($event)"></app-table>
    </div>
</app-page-container>

<ng-template #hoverDetailTpl let-column="column" let-row="row">
    <div class="d-flex justify-content-end w-100">
        <div class="d-flex bg-container justify-content-end py-10 mt-n10">
            <div class="row-detail d-flex align-items-center">
                
            </div>
        </div>
    </div>
</ng-template>
<ng-template #UserAccess let-column="column" let-row="row" let-value="cellValue" let-rowIndex="rowIndex">
    <div class="btn-group w-100" dropdown [dropup]="isDropup">
        <div class="d-flex justify-content-between w-100">
            <a (click)="setDropUp(row)" id="button-basic" dropdownToggle type="button" class="text-dark a-ellipse"
            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <span class="text"> {{row.UserAccess}}</span>
        </a>
        <img  src="assets/images/chevron.svg" alt="expired-icon" class="isExpired" />
        </div>
        <ul aria-labelledby="dropdownMenuButton" *dropdownMenu class="dropdown-menu" role="menu"
            aria-labelledby="button-basic">
            <li role="menuitem"><a (click)="setUserAccess(row, 'Editable')" class="dropdown-item" >Editable</a></li>
            <li role="menuitem"><a (click)="setUserAccess(row, 'Hidden')" class="dropdown-item">Hidden</a></li>
            <li role="menuitem"><a (click)="setUserAccess(row, 'Readonly')" class="dropdown-item">Read Only</a></li>


        </ul>
    </div>

</ng-template>
<ng-template #PartnerAccess let-column="column" let-row="row" let-value="cellValue" let-rowIndex="rowIndex">
    <div class="btn-group w-100" dropdown [dropup]="isDropup">
        <div class="d-flex justify-content-between w-100">
            <a (click)="setDropUp(row)" id="button-basic" dropdownToggle type="button" class="text-dark a-ellipse"
            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <span class="text"> {{row.PartnerAccess}}</span>
        </a>
        <img  src="assets/images/chevron.svg" alt="expired-icon" class="isExpired" />
        </div>
        <ul aria-labelledby="dropdownMenuButton" *dropdownMenu class="dropdown-menu" role="menu"
            aria-labelledby="button-basic">
            <li role="menuitem"><a (click)="setPartnerAccess(row, 'Editable')" class="dropdown-item" >Editable</a></li>
            <li role="menuitem"><a (click)="setPartnerAccess(row, 'Hidden')" class="dropdown-item">Hidden</a></li>
            <li role="menuitem"><a (click)="setPartnerAccess(row, 'Readonly')" class="dropdown-item">Read Only</a></li>

        </ul>
    </div>

</ng-template>

<ng-template #expiredIconTemplate let-column="column" let-value="cellValue">
    <div class="table-status-column">
        <ng-container [ngSwitch]="value">
            <span class="pb-10" *ngSwitchCase="'Yes'">
                <label class="container">
                    <input readonly type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                  </label>
            </span>
            <span *ngSwitchCase="'No'">
                <label class="container">
                    <input readonly type="checkbox">
                    <span class="checkmark"></span>
                  </label>
            </span>
            
            <span *ngSwitchDefault>{{value}}</span>
        </ng-container>
        <img *ngIf="value === 0" src="./../../assets/images/expired.svg" alt="expired-icon" class="isExpired" />
    </div>
</ng-template>
<ng-template #selectDetailTemplate let-column="column" let-row="row" let-value="cellValue">
    <div class="table-status-column w-100">
        <table class="w-100">
            <tbody class="w-100">
                <tr *ngFor="let val of row.value" class="tables-cell8">
                    <td style="width:80px"></td>
                    <td style="width:276px"></td>
                    <td style="width:169px"></td>
                    <td style="width:611px;">{{val}}</td>
                </tr>
            </tbody>
        </table>
        
    </div>
</ng-template>
<ng-template #colmunDropDownTemplate let-column="column" let-row="row" let-value="cellValue">
    <ng-container>
        <span class="pb-10" *ngIf="row.OptionType == 'ValueList'">
            <div class="btn-group" dropdown  [dropup]="isDropup" >
                <!-- <a (click)="setDropUp(row)" id="button-basic" dropdownToggle type="button" class="a-ellipse text"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{toString(value)}}
                </a> -->
                <div class="d-flex justify-content-between w-100">
                    <a (click)="setDropUp(row)" id="button-basic" dropdownToggle type="button" class="text-dark a-ellipse"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <span class="text"> {{toString(row.ValueList)}}</span>
                </a>
                <img *ngIf="rowValue != row" src="assets/images/chevron.svg" alt="expired-icon" class="chevron" />
                <img *ngIf="rowValue == row" src="assets/images/Chevron-red.svg" alt="expired-icon" class="chevron" />
                </div>
                <ul aria-labelledby="dropdownMenuButton" *dropdownMenu class="dropdown-menu" role="menu"
                    aria-labelledby="button-basic">
                    <table class="w-100">
                        <tbody class="w-100">
                            <tr *ngFor="let val of row.ValueList" class="tables-cell8"> 
                                <td>
                                    <label class="container">
                                        <input type="checkbox"  [value]="val.Name" (change)="onCheckValueList($event, row)" checked="checked">
                                        <span class="checkmark"></span>
                                      </label>
                                </td>                          
                                <td style="width:427px;">{{val.Name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </ul>
            </div>
        </span>
        <span *ngIf="row.OptionType =='Boolean' && !row.ValueBoolean">
            <label class="container">False
                <input type="checkbox" (change)="onCheckValueBoolean($event, row)">
                <span class="checkmark"></span>
              </label>
        </span>
        <span *ngIf="row.OptionType =='Boolean' && row.ValueBoolean">
            <label class="container">True
                <input type="checkbox" (change)="onCheckValueBoolean($event, row)" checked="checked">
                <span class="checkmark"></span>
              </label>
        </span>
        <span *ngIf="row.OptionType == 'String'">
            {{row.ValueString}}
        </span>
       
        
    </ng-container>
    
</ng-template>
