<app-page-container [config]="containerConfig">
    <div class="w-100" container-body>
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <p class="pyramid-title text-uppercase">ADMINISTRATION</p>

                    <h2 class="customers-title page-title">Price lists</h2>
                </div>
                <div class="col-auto float-right ml-auto d-flex flex-direction-row align-items-center">
                    <app-button type="button" color="primary" [routerLink]="['create']">
                        Add price list
                    </app-button>
                    <!--  -->
                </div>
            </div>
        </div>
        <app-table [rows]="tableData | async" [config]="tableConfig" (filterData)="filterTable($event)"
            [rowDetailConfig]="rowDetailIcons"></app-table>
    </div>
</app-page-container>

<ng-template #hoverDetailTpl let-column="column" let-row="row">
    <div class="d-flex justify-content-end w-100">
        <div class="d-flex bg-container justify-content-end py-10 mt-n10">
            <div class="row-detail d-flex align-items-center"></div>
        </div>
    </div>
</ng-template>

<ng-template #actionDropdown let-column="column" let-row="row" let-rowIndex="rowIndex">
    <div *ngIf="rowIndex % 10 <6" class="btn-group" dropdown >
      <a  id="button-basic" dropdownToggle type="button" class="text-dark a-ellipse"
              aria-controls="dropdown-basic">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </a>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li (click)="manageSub(row)" role="menuitem"><a class="dropdown-item">Manage</a></li>
        <li (click)="openModal(deleteTemplate, row)" role="menuitem"><a class="dropdown-item">Delete</a></li>
      </ul>
    </div>
    <div *ngIf="rowIndex % 10 >=6" class="btn-group" dropdown [dropup]="true">
      <a  id="button-basic" dropdownToggle type="button" class="text-dark a-ellipse"
              aria-controls="dropdown-basic">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </a>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li (click)="manageSub(row)" role="menuitem"><a class="dropdown-item">Manage</a></li>
        <li (click)="openModal(deleteTemplate, row)" role="menuitem"><a class="dropdown-item">Delete</a></li>
      </ul>
    </div>
  </ng-template>


  <ng-template #deleteTemplate>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>
