<app-page-container [config]="containerConfig" >
    <div container-body>
      <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <p class="pyramid-title">PYRAMID</p>

                <h1 class="customers-title">Orders</h1>
            </div>
            <div class="col-auto float-right ml-auto d-flex flex-direction-row align-items-center">
                <app-toggle class="mr-32">
                    All orders
                </app-toggle>
                <!--  -->
                <app-button (click)="generateOrder()" type="button" color="primary">
                    Add order
                </app-button>
                <!--  -->
            </div>
        </div>
    </div>
    <app-table
    [rows]="tableData | async"
    [config]="tableConfig"
    (filterData)="filterTable($event)"
    [rowDetailConfig]="rowDetailIcons"
    ></app-table>
    </div>
  </app-page-container>
  
  <ng-template #hoverDetailTpl let-column="column" let-row="row">
    <div class="d-flex justify-content-end w-100">
      <div class="d-flex bg-container justify-content-end py-10 mt-n10">
        <div class="row-detail d-flex align-items-center"></div>
      </div>
    </div>
  </ng-template>

  <ng-template #actionDropdown let-column="column" let-row="row">
    <div class="btn-group" dropdown [dropup]="isDropup">
      <a (click)="setDropUp(row)" id="button-basic" dropdownToggle type="button" class="text-dark a-ellipse"
              aria-controls="dropdown-basic">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i> 
      </a>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li (click)="manageSub(row)" role="menuitem"><a class="dropdown-item">Manage</a></li>
        <li (click)="removeRow(row)" role="menuitem"><a class="dropdown-item">Delete</a></li>
      
      </ul>
    </div>
    
  </ng-template>

<ng-template #valueTemplate let-column="column" let-row="row" let-value="cellValue">
   <div class="text-right px-0 mx-0">
        <span>
        $
        </span>
        <span>
            {{ value }}
        </span>
   </div>
</ng-template>
<ng-template #dateTemplate let-column="column" let-row="row" let-value="cellValue">
   <div class="text-right px-0 mx-0">        
        <span>
            {{ value | date }}
        </span>
   </div>
</ng-template>

<ng-template #discountTemplate let-column="column" let-row="row" let-value="cellValue">
   <div class="text-right px-0 mx-0">
        <span>
        %
        </span>
        <span>
            {{ value }}
        </span>
   </div>
</ng-template>

<ng-template #statusTemplate let-column="column" let-row="row" let-value="cellValue">
   
      <ng-container [ngSwitch]="value">

         <span *ngSwitchCase="-1">Canceled?</span>

          <span *ngSwitchCase="0">Cart</span>

          <span *ngSwitchCase="1" class="table-status-column">
            <span>Paid</span>
            <img src="./../../assets/images/check2.svg" alt="check-icon" class="" />
          </span>

          <span *ngSwitchCase="2" class="table-status-column">
            <span>Waiting payment confirmation</span> 
            <img src="./../../assets/images/price-list-red.svg" alt="price-list-icon" class="" />
          </span>
         
          <span *ngSwitchCase="3">Draft</span>

          <span *ngSwitchDefault>Draft</span>

      </ng-container>
</ng-template>