<app-page-container [config]="containerConfig" >
    <div container-body>
      <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <p class="pyramid-title">PYRAMID</p>

                <h1 class="customers-title">Orders</h1>
            </div>
            <div class="col-auto float-right ml-auto d-flex flex-direction-row align-items-center">
                <app-toggle class="mr-32">
                    All orders
                </app-toggle>
                <!--  -->
                <ng-container *ngIf="actions.add">
                  <app-button (click)="generateOrder()" type="button" color="primary">
                      Add order
                  </app-button>
                </ng-container>
                <!--  -->
            </div>
        </div>
    </div>
    <app-table
    [rows]="tableData | async"
    [config]="tableConfig"
    (filterData)="filterTable($event)"
    [rowDetailConfig]="rowDetailIcons"
    ></app-table>
    </div>
  </app-page-container>
  <ng-template #hoverDetailTpl let-column="column" let-row="row" let-rowIndex="rowIndex">
    <div class="d-flex justify-content-end w-100">
      <div class="d-flex bg-container justify-content-end py-10 mt-n10">
        <div class="row-detail d-flex align-items-center">
         
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #actionDropdown let-column="column" let-row="row" let-rowIndex="rowIndex">
    <div *ngIf="rowIndex % 10 < 6" class="btn-group" dropdown >
      <a  id="button-basic" dropdownToggle type="button" class="text-dark a-ellipse"
              aria-controls="dropdown-basic">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </a>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <ng-container *ngIf="actions.view">
            <li (click)="manageSub(row)" role="menuitem"><a class="dropdown-item">Manage</a></li>
          </ng-container>
          <ng-container *ngIf="actions.delete">
            <li (click)="openModal(deleteTemplate, row)" role="menuitem"><a class="dropdown-item">Delete</a></li>
          </ng-container>
      </ul>
    </div>
    <div *ngIf="rowIndex % 10 >= 6" class="btn-group" dropdown [dropup]="true">
      <a  id="button-basic" dropdownToggle type="button" class="text-dark a-ellipse"
              aria-controls="dropdown-basic">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </a>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
          <ng-container *ngIf="actions.view">
            <li (click)="manageSub(row)" role="menuitem"><a class="dropdown-item">Manage</a></li>
          </ng-container>
          <ng-container *ngIf="actions.delete">
            <li (click)="openModal(deleteTemplate, row)" role="menuitem"><a class="dropdown-item">Delete</a></li>
          </ng-container>
      </ul>
    </div>
  </ng-template>

<ng-template #valueTemplate let-column="column" let-row="row" let-value="cellValue">
   <div class="text-right px-0 mx-0">
        <span>
        {{row.Currency}}
        </span>
        <span>
            {{ value }}
        </span>
   </div>
</ng-template>
<ng-template #dateTemplate let-column="column" let-row="row" let-value="cellValue">
   <div class="text-right px-0 mx-0">
        <span>
            {{ value | date }}
        </span>
   </div>
</ng-template>

<ng-template #discountTemplate let-column="column" let-row="row" let-value="cellValue">
   <div class="text-right px-0 mx-0">
        <span>
        %
        </span>
        <span>
            {{ value }}
        </span>
   </div>
</ng-template>

<ng-template #statusTemplate let-column="column" let-row="row" let-value="cellValue">
      <span *ngIf="row.OrderStatus == 'Paid'" class="table-status-column">
        <span> {{row.OrderStatus}}</span>
        <img src="./../../assets/images/check2.svg" alt="check-icon" class="" />
      </span>
      <span *ngIf="row.OrderStatus == 'WaitingPaymentConfirmation'" class="table-status-column">
        <span>Waiting payment confirmation</span>
        <img src="./../../assets/images/price-list-red.svg" alt="price-list-icon" class="" />
      </span>
      <span *ngIf="row.OrderStatus != 'Paid' && row.OrderStatus != 'WaitingPaymentConfirmation' " class="table-status-column">
        <span> {{row.OrderStatus}}</span>
      </span>
</ng-template>

<ng-template #deleteTemplate>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>
