@import "../../../assets/variables";

.rc-checkbox {
    margin: 0 !important;
}
.container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 5px;
    border: 2px solid #A4A7BF;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #D9471F;
    border: none;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 6px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .tables-cell8 {
    width: 100%;
    height: 40px !important;
    background-color:#F6F6F8;
    border-bottom: 1px dotted $medium-grey-2;
  }
  .tables-cell8 td {
    color: #878999;
    padding-left: 8px;
  }
  .options {
    color: #464976;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 40px;
  }
  .administration {
    display: block;
    color: #6A7098;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 16px;
  }
  .wrap{
    display: flex;  
    flex-wrap: wrap;
  }
  .datatable-body-cell {
    overflow: hidden !important;
  }
  .add-product {
    padding-top: 60px;
    color: #464976;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 32px;
  }
  .discount-body {
    padding-top: 62px;
  }
  .discount-footer {
    padding: 40px 32px 32px;

  }