<app-page-container [config]="containerConfig">
    <div class="w-100" container-body>
        <div class="page-header mb-24">
            <div class="row align-items-center">
                <div class="col">
                    <span class="administration">ADMINISTRATION</span>
                    <span class="options">Options</span>      
                </div>
                <div class="col-auto float-right ml-auto d-flex flex-direction-row align-items-center">
                   
                    <!--  -->
                    <app-button [routerLink]="['option-add']" type="button" color="primary">
                        Add new option
                    </app-button>
                    <!--  -->
                </div>
            </div>
        </div>
        <app-table [rows]="tableData | async" [config]="tableConfig" (filterData)="filterTable($event)"
            [rowDetailConfig]="rowDetailIcons"></app-table>
    </div>
</app-page-container>

<ng-template #hoverDetailTpl let-column="column" let-row="row">
    <div class="d-flex justify-content-end w-100">
        <div class="d-flex bg-container justify-content-end py-10 mt-n10">
            <div class="row-detail d-flex align-items-center">
            </div>
        </div>
    </div>
</ng-template>
<ng-template #deleteOptionTemplate>
    <div class="modal-header px-32">
      <span class="add-product">Are you sure you want to delete this option</span>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="discount-footer d-flex justify-content-end">
      <app-button type="button" (click)="modalRef.hide()" color="secondaryB" class="mr-8">
        Cancel
      </app-button>
      <app-button type="button" color="primary" (click)="removeRow(rowToDelete)">
        Delete
      </app-button>
    </div>
</ng-template>
<ng-template #optionType let-column="column" let-row="row">
    <div class="row-detail d-flex align-items-center">
        {{row.OptionType}}
    </div>
        
</ng-template>
<ng-template #actionDropdown let-column="column" let-row="row" let-rowIndex="rowIndex">
    <div class="btn-group float-right" dropdown [dropup]="isDropup">
      <a (click)="setDropUp(row)" id="button-basic" dropdownToggle type="button" class="text-dark a-ellipse float-right"
              aria-controls="dropdown-basic">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i> 
      </a>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li (click)="manageSub(row)" role="menuitem"><a class="dropdown-item">Manage</a></li>
        <li (click)="openModal(deleteOptionTemplate, row)" role="menuitem"><a class="dropdown-item">Delete</a></li>
      
      </ul>
    </div>
    
  </ng-template>


<ng-template #expiredIconTemplate let-column="column" let-row="row" let-value="cellValue">
    <div class="table-status-column">
        <ng-container>
            <span class="pb-10" *ngIf="row.OptionType =='Boolean' && row.ValueBoolean">
                <label class="container">Yes
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                  </label>
            </span>
            <span *ngIf=" row.OptionType == 'Boolean' && !row.ValueBoolean">
                <label class="container">No
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
            </span>
            <!-- <span *ngSwitchCase="optionBoolean">{{value}}</span> -->
            <span *ngIf="row.OptionType == 'String'">{{row.ValueString}}</span>
            <span class="wrap" *ngIf="row.OptionType == 'ValueList'">{{toString(row.ValueList)}}</span>
        </ng-container>
        <img *ngIf="value === 0" src="./../../assets/images/expired.svg" alt="expired-icon" class="isExpired" />
    </div>
</ng-template>
<ng-template #selectDetailTemplate let-column="column" let-row="row" let-value="cellValue">
    <div class="table-status-column w-100">
        <table class="w-100">
            <tbody class="w-100">
                <tr *ngFor="let val of row.ValueList" class="tables-cell8">
                    <td style="width:80px"></td>
                    <td style="width:276px"></td>
                    <td style="width:308px"></td>
                    <td style="width:611px;">{{val.Name}}</td>
                </tr>
            </tbody>
        </table>
        
    </div>
</ng-template>