@import "../variables";
@import "../mixins";

.rc-sh-card {
    width: rem(292);
    min-height: rem(376);
    padding: rem(24) rem(24) rem(16) rem(24);
    background: $white;
    box-shadow: $rc-card-box-shadow;
    @include flexbox;
    @include flex-direction(column);
    .rc-full-title {
        margin: rem(16px) 0;
    }
    .product-fees-section {
        width: 100%;
        @include flexbox;
        @include flex-direction(row);
        margin-bottom: rem(16);
        .product-fees-group {
            @include flexbox;
            @include flex-direction(column);
            &:nth-child(2) {
                margin-left: rem(50);
            }
        }
    }
    .rc-sh-card-body { 
        .rc-product-description {
            min-height: rem(132);
        }
        .rc-sh-card-body-link {
            margin-top: rem(8);
            margin-bottom: rem(20);
        }
        
    }
    .rc-sh-card-footer {
        @include flexbox;
        @include flex-direction(row);
        @include justify-content(space-between);
        @include align-items(center);
    }
}