@import "../variables";
@import "../mixins";
.rc-card-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(292), 1fr));
  gap: rem(2);
}
.rc-sh-card {
    width: rem(292);
    min-height: rem(376);
    padding: rem(24) rem(24) rem(16) rem(24);
    background: $white;
    box-shadow: $rc-card-box-shadow;
    @include flexbox;
    @include flex-direction(column);
    .rc-full-title {
        margin: rem(16px) 0;
    }
    .rc-product-fees-section {
        width: 100%;
        @include display-grid;
        grid-template-columns: repeat(2, 50%);
        margin-bottom: rem(8);
        .rc-product-fees-group {
            @include flexbox;
            @include flex-direction(column);
        }
    }
    .rc-sh-card-body { 
        .rc-product-description {
            height: 132px !important;
            /* max-height: 132px !important; */
            margin-top: rem(16);
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .rc-sh-card-body-link {
            margin-top: rem(8);
            margin-bottom: rem(20);
        }
        
    }
    .rc-sh-card-footer {
        @include flexbox;
        @include flex-direction(row);
        @include justify-content(space-between);
        @include align-items(center);
    }
}
.rc-404-card{
    height: 416px;
    width: 448px;
    margin: rem(173) 0px;
    padding-left: rem(64);
    padding-top: rem(80);
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 10px 0 rgba(0,56,91,0.21), 0 50px 50px -20px rgba(0,56,91,0.1);

    .title-403,.title-404 {
        color: #D9471F;
        font-family: Montserrat;
        margin-top: rem(32);
        font-size: 37px;
        font-weight: 500;
        letter-spacing: 6px;
        line-height: 40px;
      }
      .title-404 {
        color: #464976 !important;
      }
      .access-denied {
        color: #464976;
        font-family: 'Montserrat Medium';
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 32px;
      }
      .no-permi {
        color: #878999;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 16px;
      }
      .go-back {
        box-sizing: border-box;
        border: 2px solid #D9471F;
        border-radius: 3px;
        background-color: #FFFFFF;
        color: #161A37;
        font-family: Montserrat;
        font-size: 12px;
        letter-spacing: 0;
        line-height: 16px;
        text-align: center;
        margin-top: rem(40);
        margin-bottom: rem(64);
      }
      
}