@import "../variables";

.rc-grey-color {
    color: $rc-grey;
}
.rc-light-grey-bg {
    background: $rc-light-grey;
}
.rc-accent-blue-160-color {
    color: $rc-accent-blue-160;
}
.rc-primary-color {
    color: $rc-primary;
}
.rc-primary-bg {
    background: $rc-primary;
}
.rc-black-color {
    color: $rc-black;
}