@import "../variables";

.rc-grey-color {
    color: $rc-grey !important;
}
.rc-light-grey-bg {
    background: $rc-light-grey;
}
.rc-accent-blue-160-color {
    color: $rc-accent-blue-160 !important;
}
.rc-primary-color {
    color: $rc-primary !important;
}
.rc-primary-bg {
    background: $rc-primary !important;
}
.rc-black-color {
    color: $rc-black !important;
}
.rc-accent-blue-bg {
    background: $rc-accent-blue;
}
.rc-secondary-bg {
    background: $rc-secondary !important;
}
.rc-red-color {
    color: $red !important;
}
.rc-ultra-light-red-bg {
    background: $ultra-light-red !important;
}
.rc-accent-blue-160-bg {
    background: $rc-accent-blue-160 !important;
}
.rc-grey-bg {
    background: $rc-grey !important;
}
.rc-black-bg {
    background: $rc-black !important;
}