@font-face {
  font-family: "Montserrat Bold";
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url("/assets/font/montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Medium";
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url("/assets/font/montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Regular";
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url("/assets/font/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat SemiBold";
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url("/assets/font/montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue Regular";
  src: local('HelveticaNeue Regular'), local('HelveticaNeue-Regular'), url("/assets/font/helveticaNeue/HelveticaNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
