@import "../variables";
@import "../mixins";

.ra-logo-group-1 {

    @include flexbox;
    @include flex-direction(row);
    @include align-items(center);
    height: rem(48);
    width: rem(178);
    .ra-logo {
        height: rem(47.95);
        width: rem(66.84);
    }

    .ra-cloud-wordmark {
        margin-left: rem(12.47) !important;
        height: rem(17.09);
        width: rem(97.6);
    }

}

.ra-logo-group-2 {

    @include flexbox;
    @include flex-direction(row);
    @include align-items(center);
    height: rem(36);
    width: rem(133);
    .ra-logo {
        height: rem(35.96);
        width: rem(49.97);

    }

    .ra-cloud-wordmark {
        margin-left: rem(12.47) !important;
        height: rem(13);
        width: rem(75);
    }

}

.icon-w16-h16 {
    height: rem(16) !important;
    width: rem(16) !important;
}

.icon-40 {
    height: rem(40) !important;
    width: rem(40) !important;
}