@import "../mixins";
@import "../variables";

.rc-form-group {
    @include flexbox;
    width: 100%;
    @include justify-content(flex-start);
    @include align-items(stretch);
    @include flex-wrap(wrap);
    input {
        font-family: $font-helveticaNeue-regular;
        color: $rc-grey;
        font-size: rem(14) !important;
        line-height: rem(16) !important;
        padding: rem(4) rem(12);
        border-radius: rem(2);
        letter-spacing: 0;
        width: 100%;
        border: none;
        background: none;
        @include inputPlaceholder() {
            color: $rc-grey;
            opacity: 1;
        }
        &.input {
            border: $rc-accent-blue-60-outline;
        }
        &.rc-error {
            border: $rc-red-outline;
            @include inputPlaceholder() {
                color: $rc-red;
            }
        }
        &:hover {
            border: $rc-secondary-ouline;
        }
        &:focus {
            border: $rc-secondary-focus-outline;
        }
        &.rc-i {
            position: relative;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            width: 1%;
        }
        
    }
    &.rc-form-group-with-prefix {
        border: $rc-accent-blue-60-outline;
        border-radius: rem(2);
        &:hover {
           border: $rc-secondary-ouline;
        }
        input {
            padding: rem(4) rem(12) rem(4) 0;
            &:focus {
                border: none;
            }
            &:hover {
                border: none;
            }
        }
        &:focus-within {
            border: $rc-secondary-focus-outline;
        }
    }
    > .input-prefix {
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        @include flex-wrap(wrap);
        padding: rem(4) rem(12);
        .input-prefix-text {
            font-family: $font-helveticaNeue-regular;
            font-size: rem(14) !important;
            line-height: rem(16) !important;
        }
        
    }
}