@import "../variables";
@import "../mixins";

.rc-select {
  select {
    width: 100%;
    background: transparent url("~src/assets/images/chevron.svg") no-repeat right
      rem(12) center/rem(20) rem(20);
    font-size: rem(14) !important;
    line-height: rem(16) !important;
    padding: rem(4) rem(12);
    border: none;
    border: $rc-accent-blue-60-outline;
    box-shadow: none;
    color: $rc-grey;
    outline: none !important;
    /* remove the default arrow */
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    /*  */
    &::-ms-expand {
      display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
    }
    /*  */
    &:hover {
        border: $rc-secondary-ouline;
    }
    &:focus {
        color: $rc-black !important;
        border: $rc-secondary-focus-outline;
    }
  }
  &.rc-select-filled {
      select {
        color: $rc-black !important;
      }
  }
  &.rc-select-disabled {
    select {
      border: $rc-secondary-ouline;
      background: $rc-light-grey;
      color: $rc-accent-blue-30;
    }
  }
  &.rc-select-error {
    select {
      color: $rc-red;
      border: $rc-red-outline !important;
    }
  }
  &.rc-select-focus {
    select {
      color: $rc-black !important;
      border: $rc-secondary-focus-outline !important;
    }
  }
}
/* Target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    .rc-select {
        background: none\9;
        padding: 5px\9;
    }
}
