@import "../variables";
@import "../mixins";
@import "./input";

.rc-select {
  select {
    width: 100%;
    background: transparent url("~src/assets/images/chevron.svg") no-repeat right
      rem(6) center/rem(20) rem(20);
    font-size: rem(14) !important;
    line-height: rem(16) !important;
    padding: rem(8) rem(6) rem(8) rem(12);
    border: none;
    border: $rc-accent-blue-60-outline;
    box-shadow: none;
    color: $rc-grey;
    outline: none !important;
    /* remove the default arrow */
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    /*  */
    &::-ms-expand {
      display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
    }
    /*  */
    &:hover {
        border: $rc-secondary-ouline;
    }
    &:focus {
        color: $rc-black !important;
        border: $rc-secondary-focus-outline;
    }
  }
  &.rc-select-filled {
      select {
        color: $rc-black !important;
      }
  }
  &.rc-select-disabled {
    select {
      border: $rc-secondary-ouline;
      background: $rc-light-grey;
      color: $rc-accent-blue-30;
      pointer-events: none;
    }
  }
  &.rc-select-error {
    select {
      color: $rc-red;
      border: $rc-red-outline !important;
    }
  }
  &.rc-select-focus {
    select {
      color: $rc-black !important;
      border: $rc-secondary-focus-outline !important;
    }
  }
  @extend .rc-form-group;
  datalist {
      display: none;
  }

  
  
}
/* Target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    .rc-select {
        background: none\9;
        padding: 5px\9;
    }
}

.rc-select-b {
  ng-select {
    width: 100%;
    color: $rc-black;
    border: $rc-accent-blue-60-outline;
    font-size: rem(14) !important;
    line-height: rem(16) !important;
    &:focus-within {
      color: $rc-black !important;
      border: $rc-secondary-focus-outline;
    }
    .ng-select-container{
      width: 100%;
      min-height: rem(32) !important; /* the min  height and height were declared in the package so I redeclare to fit design */
      height: rem(32) !important;
      overflow: hidden !important;
      padding-left: rem(8) !important; 
      .ng-value-container{
        .ng-placeholder {
          color: $rc-grey !important;
        }
        .ng-value{
          margin: 0 !important;
          padding: 0 !important;
        }
        .ng-input{
          padding-left: rem(8) !important;
          input {
            margin-top: -8px !important;
          }
        }
      }
      
    }
  }
  &.rc-select-b-invalid{
    ng-select {
      color: $rc-red;
      border: $rc-red-outline !important;
      .ng-select-container {
        .ng-value-container{
          .ng-placeholder {
            color: $rc-red !important;
          }
          .ng-value{
            color: $rc-red !important;
          }
          .ng-input{
            input {
              color: $rc-red !important;
            }
          }
        }
        
      }
    }
  }
  &.rc-select-b-disabled {
    ng-select {
      border: $rc-secondary-ouline !important;
      background: $rc-light-grey !important;
      color: $rc-accent-blue-30 !important;
      pointer-events: none !important;
    }
    .ng-select-container {
      .ng-value-container{
        .ng-placeholder {
          color: $rc-accent-blue-30 !important;
        }
        .ng-value{
          color: $rc-accent-blue-30 !important;
        }
        .ng-input{
          input {
            color: $rc-accent-blue-30 !important;
          }
        }
      }
      
    }
  }
}