@import "../variables";
@import "../mixins";

.max-w-570 {
  max-width: rem(570);
}
.max-w-448 {
  max-width: rem(448);
}
.h32 {
  height: rem(32);
}
.w-200px {
   width: rem(200) !important;
}
.z-index-1000 {
  z-index: 1000 !important;
}
.overflow-x {
  overflow-x: hidden !important;
}
.line-h1 {
  height: rem(1) !important;
  width: 100% !important;
}
.w-104px {
  width: 104px;
}
.w-240px {
  width: 240px;
}
.w-80p{
  width: 80% !important;
}
.w-376px {
  width: 376px !important;
}
.w-70p{
  width: 70% !important;
}