<ng-container [formGroup]="formGroup">
    <label 
        class="rc-color-grey s12-h16 montserrat-regular-font text-weight-normal"
        [ngClass]="config?.inputLabel?.classes"
    >{{ config?.inputLabel?.text }}
    </label>
    <div class="">
        <div class="rc-form-group">
            <input 
                [type]="config?.type" 
                #input 
                formControlName="input" 
                class="input"
                [placeholder]="config?.placeholder"
                [maxlength]="config?.maxLength" 
                [minlength]="config?.minLength" 
                [min]="config?.min" 
                [max]="config?.max"  
                [autocomplete]="config?.autoComplete"
                [autocapitalize]="config?.autoCapitalize !== '' ? config?.autoCapitalize : 'none'"
                [class]="config?.inputClasses"
            >
        </div>
        <br>
        <br>
        <div class="rc-form-group rc-form-group-with-prefix">
            <div class="input-prefix">
                <span class="input-prefix-text">$</span>
            </div>
            <input [type]="config?.type" #input formControlName="input" class="rc-i" [placeholder]="config?.placeholder"
                [maxlength]="config?.maxLength" [minlength]="config?.minLength" [min]="config?.min" [max]="config?.max"
                [autocomplete]="config?.autoComplete"
                [autocapitalize]="config?.autoCapitalize !== '' ? config?.autoCapitalize : 'none'"
                [class]="config?.inputClasses">
        </div>
    </div>
</ng-container>
