<app-card
  [componentClasses]="classes"
  [classes]="
    'justify-content-center col-12 max-w-448 d-flex px-0 py-0 border-radius-2'
  "
  class="d-flex justify-content-center"
>
  <ng-container card-body>
    <div class="flex-column d-flex col-12 justify-content-center flex-column">
      <div
        class="mx-auto col-12 col-lg-12 flex-grow-0 px-0 pl-64 pt-24 pb-8 flex-shrink-1 justify-content-center align-items-center rc-accent-blue-bg"
      >
          <!-- RC side bar logo -->
          <app-ra-logo [groupType]="raLogoType"></app-ra-logo>
          <!--  -->

      </div>
      <form
        [formGroup]="loginForm"
        class="col-12 col-lg-12 px-0 d-flex mx-auto px-64 pt-64 pb-32 flex-1 flex-shrink-1"
        (ngSubmit)="submitForm()"
      >
        <div
          class="d-flex flex-column w-100 flex-grow-1 flex-shrink-0 mx-lg-n5p"
        >

          <h2>Log in</h2>

          <div class="mt-24 mb-30">
            <span class="s15-h24 rc-grey-color montserrat-regular-font ls-0">Don't have a user account?</span>
            <!-- -->
            <app-button 
              color="tertiary"
              [routerLink]="[signUpUrl]"
              [class]="'ml-8 s15-h24 rc-grey-color montserrat-regular-font rc-accent-blue-160-color ls-0'
            ">
            
              Sign up.
            </app-button>
            <!--  -->
          </div>
          
          <div class="d-flex flex-column mb-14">
            <app-input [config]="emailInputConfig" formControlName="email" id="email"></app-input>
            <app-error-messages
              [control]="loginForm?.controls?.email"
            ></app-error-messages>
          </div>

          <div class="d-flex flex-column mb-32">
            <app-input [config]="passwordInputConfig" formControlName="password" id="password"></app-input>

            <app-error-messages
              [control]="loginForm?.controls?.password"
            ></app-error-messages>

          </div>

          <div class="d-flex align-items-center justify-content-between mb-24">
            <app-button color="tertiary">
              Cancel
            </app-button>
          
            <app-button type="Submit" color="primary" [disabled]="!loginForm?.valid || isLoading">
                <app-loader type="button" *ngIf="isLoading"></app-loader>
                <span *ngIf="!isLoading">Log in</span>
            </app-button>
          
          </div>

          <div class="d-flex align-items-center justify-content-end">
            <!--  -->
            <app-button 
            (click)="openModal(sendResetPasswordTemplate)"
              color="tertiary" 
              [class]="'s12-h16 rc-grey-color montserrat-regular-font ls-0'"
            >
              Forgot your password?
            </app-button>
            <!--  -->
          </div>

        </div>
      </form>
    </div>
  </ng-container>
</app-card>
<ng-template #sendResetPasswordTemplate>
  <div class="modal-header px-32">
    <span class="change-pwd">Reset Password</span>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body pt-32 px-35 discount-body pb-0">
    <div class="row">
    <div  class="col-12  mb-14">
      <span class="reset-text">Enter your email to reset your password</span>
    </div>
    </div>
    <div class="d-flex flex-column mb-14">      
        <label class="rc-grey-color s12-h16 montserrat-regular-font text-weight-normal m-0 ls-0">Email </label><div class="rc-form-group rc-form-group-without-prefix" >
        <input  [formControl]="resetEmail" type="email" placeholder="Type Here"  class="ng-pristine ng-valid ng-touched">
      </div>

    </div>
    <div class="discount-footer d-flex justify-content-end pb-32 mx-0">
      <app-button type="button" (click)="modalRef.hide()" color="secondaryB" class="mr-8">
        Cancel
      </app-button>

      <app-button [disabled]="resetEmail.invalid" type="button"  color="primary" (click)="sendResetPassword()">
        <app-loader type="button" *ngIf="resetLoading"></app-loader>
        <span *ngIf="!resetLoading">Send reset password email</span>
      </app-button>
    </div>
  </div>
</ng-template>
