.infoForm{
    width: 70%;
    margin-top: 39px;
}
.w-auto{
    width: auto !important;
}
.submit-row {
    padding: 16px !important;
    background-color: #F7F9FB;
    display: flex;
    justify-content: flex-end;
    margin-top: 8px !important;
}
.back-button{
    position: absolute;
    top: 6px;
    left: -25px;
}

.cancel-btn{
    margin-right: 8px;
}