<app-page-container [config]="containerConfig">
  <div class="w-100" container-body>
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <div></div>
          <app-button
            color="tertiary"
            [class]="
              'd-flex align-items-center rc-accent-blue-160-color montserrat-semibold-font'
            "
          >
            <span class="pyramid">{{ currentCompany }}</span> <br />
          </app-button>
          <h3 class="new-user">
            {{ user?.firstName | titlecase }} {{ user?.lastName | titlecase }}
          </h3>
        </div>
      </div>
    </div>

    <div class="line-h1 rc-secondary-bg mt-24 mb-39"></div>

    <div class="w-80p pt-40">
      <form
        [formGroup]="userForm"
        class="row no-gutters"
        (submit)="updateProfile()"
      >
        <div class="col-12 px-0">
          <div class="col-12 px-0">
            <span class="personal-details">Personal Details</span>
          </div>
          <div class="row no-gutters">
            <div class="col-4 pr-16">
              <app-input
                [config]="
                  inputConfig(
                    'First Name',
                    'text',
                    'Type Here',
                    false,
                    isNotInEditMode
                  )
                "
                formControlName="firstName"
              ></app-input>
            </div>
            <div class="col-4 px-16">
              <app-input
                [config]="
                  inputConfig(
                    'Last Name',
                    'text',
                    'Type Here',
                    false,
                    isNotInEditMode
                  )
                "
                formControlName="lastName"
              ></app-input>
            </div>
            <div class="col-4 pl-16">
              <app-input
                [config]="
                  inputConfig(
                    'Email',
                    'text',
                    'Type Here',
                    false,
                    isNotInEditMode
                  )
                "
                formControlName="email"
              ></app-input>
            </div>
          </div>
        </div>

        <div class="col-12 mt-32 mb-10">
          <span class="personal-details">Role</span>
        </div>

        <div class="col-12 px-0">
          <div class="row no-gutters">
            <div class="col-4 pr-16">
              <div
                [class]="
                  'rc-select ' +
                  (disableCustomerSelectField && 'rc-select-disabled')
                "
              >
                <label
                  class="rc-grey-color s12-h16 montserrat-regular-font text-weight-normal m-0 ls-0 mb-6"
                  >Company
                </label>
                <select
                  [disabled]="disableCustomerSelectField"
                  formcontrolname="companyId"
                >
                  <option [value]="companyId">
                    {{ companyLabel }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-4 pr-16">
              <div
                [class]="
                  'rc-select ' +
                  (disableCustomerSelectField && 'rc-select-disabled')
                "
              >
                <label
                  class="rc-grey-color s12-h16 montserrat-regular-font text-weight-normal m-0 ls-0 mb-6"
                  >Role
                </label>
                <select
                  [disabled]="disableCustomerSelectField"
                  formcontrolname="roleId"
                >
                  <option [value]="roleId">
                    {{ roleLabel }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="w-100">
          <div
            class="rc-light-grey-bg mt-15 p-16 d-flex justify-content-between"
          >
            <div class="d-flex">
              <app-button
                type="button"
                color="primary"
                (click)="editProfile()"
                *ngIf="isNotInEditMode"
              >
                Edit
              </app-button>
            </div>

            <div>
              <app-button
                type="submit"
                color="secondary"
                class="mr-10"
                *ngIf="!isNotInEditMode"
                [disabled]="isLoading"
                (buttonClickEvent)="cancleProfileEditing()"
              >
                Cancle
              </app-button>

              <app-button
                type="submit"
                color="primary"
                *ngIf="!isNotInEditMode"
                [disabled]="isLoading"
              >
                <app-loader type="button" *ngIf="isLoading"></app-loader>
                <span *ngIf="!isLoading"> Update </span>
              </app-button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</app-page-container>
