<ng-container>
    <div class="w-100 pt-40">
        <form [formGroup]="componentForm" class="row no-gutters" (submit)="updateProfile()">
            
            <div class="col-12 col-md-3 px-0 pr-0 py-0 pr-md-16 m-0">

                <div class="col-12 mb-14 m-0 p-0">
                    <app-input
                        [config]="inputConfig('Name')"
                        formControlName="name"
                    ></app-input>
                </div>

                <div class="col-12 mb-14 m-0 p-0">
                    <app-input
                        [config]="inputConfig('Contact person')"
                        formControlName="contactPerson"
                    ></app-input>
                </div>

                <div class="col-12 mb-14 m-0 p-0">
                    <app-select
                        [config]="selectConfig('Type')"
                        formControlName="companyType"
                        [options]="typeOptions"
                    ></app-select>
                </div>

                <div class="col-12 m-0 p-0">
                    <app-select
                        [config]="selectConfig('Parent', 'Select Parent', true, 'id', 'companyName')"
                        formControlName="parentId"
                        [options]="customerParentOptions"
                    ></app-select>
                </div>

            </div>

            <div class="col-12 col-md-3 px-0 px-md-16 m-0">
                
                <div class="col-12 mb-6 m-0 p-0">
                     <app-textarea 
                        [config]="textAreaConfig"
                        formControlName="address"
                        id="address" 
                    >
                    </app-textarea>
                </div>

                <div class="col-12 p-0">
                    <app-select
                        [config]="selectConfig('Country', 'Select Country', true, 'code', 'name')"
                        formControlName="country"
                        [options]="countryOptions"
                    ></app-select>
                </div>

            </div>


            <div class="col-12 col-md-3 px-0 px-md-16 m-0">
                
                <div class="col-12 mb-14 m-0 p-0">
                    <app-input
                        [config]="inputConfig('Phone', 'tel')"
                        formControlName="phoneNumber"
                    ></app-input>
                </div>

                <div class="col-12 mb-14 m-0 p-0">
                    <app-input
                        [config]="inputConfig('Email', 'email')"
                        formControlName="email"
                    ></app-input>
                </div>

                <div class="col-12 mb-14 m-0 p-0">
                    <app-input
                        [config]="inputConfig('Anniversary date')"
                        formControlName="anniversaryDate"
                    ></app-input>
                </div>

                <div class="col-12 m-0 p-0">
                    <app-input
                        [config]="inputConfig('Subscription fee', 'text', '', true)"
                        formControlName="subscriptionFee"
                    ></app-input>
                </div>

            </div>


            <div class="col-12 col-md-3 px-0 px-md-16 m-0">
                
                <div class="col-12 mb-14 m-0 p-0">
                    <app-input
                        [config]="inputConfig('Support hours contract')"
                        formControlName="supportHoursContract"
                    ></app-input>
                </div>

                <div class="col-12 mb-14 m-0 p-0">
                    <app-input
                        [config]="inputConfig('Support hours available')"
                        formControlName="supportHoursAvailable"
                    ></app-input>
                </div>
                

            </div>

            <div class="w-100">
                <div class="rc-light-grey-bg mt-15 p-16 d-flex justify-content-end">
                    <app-button type="button" color="secondaryB" class="mr-8">
                    Renew Subscription
                    </app-button>

                    <app-button type="submit" color="primary"> 
                        <app-loader type="button" *ngIf="isLoading"></app-loader>
                        <span *ngIf="!isLoading">Update profile</span> 
                    </app-button>

                </div>
            </div>
            
        </form>
    </div>
    
</ng-container>