<div class="d-flex flex-column h-100 w-100 overflow-hidden">
  <app-header
    class="w-100 d-flex"
    *ngIf="(account | async) === null && this.notFound === false && showSideHeaderAndFooter"
  ></app-header>
  <div class="container content-container d-flex flex-grow-1 flex-shrink-1 px-0">

    <app-sidebar
      [currentYear]="currentYear"
      class="d-flex px-0"
      *ngIf="(account | async) === null && this.notFound === false && showSideHeaderAndFooter"
    ></app-sidebar>

    <div
      class="mx-0 d-flex flex-column px-0 col"
    >
    
      <app-messages
        class="w-100 mt-n32 mb-32"
        [listClass]="'mt-32 mt-sm-3'"
      ></app-messages>

      <div class="pl-64 pr-40">
        <router-outlet></router-outlet>
      </div>
      
      <div class="d-flex align-self-end w-100 mt-auto d-flex flex-column">
        <app-footer class="w-100 d-flex flex-column mt-32" *ngIf="showSideHeaderAndFooter"></app-footer>
      </div>
    </div>
  </div>
  
  <!--  -->
  <ng-container *ngIf="(account | async) === null && this.notFound === true">
    <ng-container *ngTemplateOutlet="footer"></ng-container>
  </ng-container>
  
  <!--  -->

</div>


<ng-template #footer>

  <footer class="w-100 d-flex justify-content-between align-items-center rc-light-grey-bg h32">
    <span class="pl-64">
      <a href="" class="text-decoration-none montserrat-regular-font s12-h16 rc-black-color ls-0">
        Privacy Policy
      </a>
      <a href="" class="ml-32 text-decoration-none montserrat-regular-font s12-h16 rc-black-color ls-0">
        Support
      </a>
    </span>
    <span class="mr-40 montserrat-regular-font s12-h16 rc-black-color ls-0">© Copyright {{ currentYear }} RA
      Workshop.</span>
  </footer>

</ng-template>