@import "../../assets/variables";
@import "../../assets/mixins";

.sidebar {
  background-color: $light-grey-2;
  box-shadow: 0 2px 5px -2px rgba(0, 66, 32, 0.12),
    0 10px 20px -1px rgba(0, 134, 65, 0.12);
  // box-shadow: 0 2px 5px 0 rgba(0,66,32,0.12), 0 10px 20px 0 rgba(0,134,65,0.12);
}
.nav-icon,
.submenu-icon {
  width: rem(20);
  height: rem(20);
}
.menu-item:focus,
.menu-item.active-link {
  background-color: $white;
  outline: none;
}
.child-item:focus {
  outline: none;
  a:focus {
    text-decoration: none !important;
  }
}
.nav-link {
  padding: 0;
}
.child-item {
  text-align: end;
}

.nav-item:focus,
.nav-item.active-link {
  outline: none;
  color: $green;
  .rectangle {
    visibility: visible;
  }

  a {
    color: $green !important;
    font-weight: bold;
  }
  svg {
    fill: currentColor;
  }
  svg-icon svg {
    color: $green;
  }
  .child-item {
    a {
      color: $grey2 !important;
      font-weight: normal;
    }
  }
  .child-item:focus,
  .child-item.active-link {
    background-color: $ultra-light-green;
    color: $green;
    a {
      color: $green !important;
      font-weight: bold;
    }

    .submenu-icon {
      visibility: visible;
    }
    svg {
      fill: currentColor;
    }
  }
}
.nav-item.parent {
  outline: none;
  color: $green;

  a {
    color: $black !important;
    font-weight: normal;
  }
  svg {
    fill: currentColor;
  }
}

.submenu-icon {
  visibility: hidden;
  margin-left: rem(18);
}

.rectangle {
  height: rem(20);
  width: rem(2);
  background-color: $red;
  visibility: hidden;
}
.footer {
  bottom: 0;
  width: 100%;
  z-index: 98;
  font-size: rem(10);
  letter-spacing: -0.15px;
  line-height: rem(16);
  background-color: $light-grey-2;
  position: absolute;
}
.focused-background {
  background-color: $white;
  border-bottom: 1px solid $medium-grey-3;
}
.normal-background {
  background-color: $light-grey-2;
}
svg-icon svg {
  color: $medium-grey-2;
}

.child-item:focus {
  background-color: $ultra-light-green;
  color: $green;
  a {
    color: $green !important;
    font-weight: bold;
  }

  .submenu-icon {
    visibility: visible;
  }
  svg {
    fill: currentColor;
  }
}
.green {
  svg {
    color: $green;
  }
}
.admin-submenu {
  border-top: 1px solid $medium-grey-2;
  max-height: 450px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: rem(8);
}

/* Track */
::-webkit-scrollbar-track {
  background: $ultra-light-grey-2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $light-grey;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $light-grey;
}
