<!-- <ng-container>
    <div class="rc-checkbox">
        <img
            *ngIf="!isChecked"
            src="assets/images/Checkbox-unmarked.svg" 
            alt="Checkbox-unmarked" 
            class="rc-checkbox-icon"
        >
        <img 
            *ngIf="isChecked"
            src="assets/images/Checkbox-marked.svg" 
            alt="Checkbox-unmarked" 
            class="rc-checkbox-icon"
        >
        <label  #inp for="" class="s14-h16" [ngClass]="{'checked': isChecked}">
            <ng-content></ng-content>
        </label>
    </div>
</ng-container> -->
<label class="container">{{config.placeholder}}
    <input #input (change)="onInputChange()" type="checkbox" >
    <span class="checkmark"></span>
</label>