<app-page-container [config]="containerConfig">
  <div class="w-100" container-body>
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <!--  -->
          <app-button
            color="tertiary"
            [routerLink]="[backUrl]"
            [class]="
              'd-flex align-items-center rc-accent-blue-160-color montserrat-semibold-font ml-n20'
            "
          >
            <svg-icon
              [class]="'icon-w16-h16 mr-1'"
              [src]="caretLeftIcon"
              alt="Icon"
              applyClass="true"
            >
            </svg-icon>
            ABRACADABRA SRL
          </app-button>
          <!--  -->

          <h1
            class="s30-h40 rc-accent-blue-160-color montserrat-medium-font ls-0"
          >
            Order ID {{orderId}}
          </h1>
        </div>
      </div>
    </div>

    <div class="line-h1 rc-secondary-bg mt-24 mb-39"></div>

    <div class="w-100 pt-40 pb-40">
      <form [formGroup]="componentForm" class="row no-gutters">
        <div class="col-12 col-md-3 px-0 pr-0 pr-md-16">
          <div class="row m-0 p-0">
            <div class="col-12 px-0 mb-14">
              <app-input
                [config]="inputConfig('Order Number')"
                formControlName="orderNumber"
              ></app-input>
            </div>
            <div class="col-12 px-0 mb-14">
              <app-input
                [config]="inputConfig('Order Date', 'date')"
                formControlName="orderDate"
              ></app-input>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-3 px-0 px-md-16">
          <div class="row m-0">
            <div class="col-12 px-0 mb-14">
              <app-input
                [config]="inputConfig('Customer')"
                formControlName="customer"
              ></app-input>
            </div>
            <div class="col-12 px-0 mb-14">
              <app-input
                [config]="inputConfig('Status')"
                formControlName="status"
              ></app-input>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-3 px-0 px-md-16">
          <div class="row m-0">
            <div class="col-12 px-0 mb-14">
              <app-input
                [config]="inputConfig('Value')"
                formControlName="value"
              ></app-input>
            </div>
            <div class="col-12 px-0 mb-14">
              <app-input
                [config]="inputConfig('Discount', 'text', '', true)"
                formControlName="discount"
              >
              </app-input>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-3 px-0 pl-md-16 d-md-flex align-items-md-center">
              
            <div class="col-12 px-0 pt-24 px-16 pb-32 rc-ultra-light-red-bg">
              <app-input
                [config]="inputConfig('Total Value', 'text', '', true)"
                formControlName="totalValue"
              ></app-input>
            </div>

        </div>
      </form>
    </div>

    <div class="w-100">
        <app-table
            [rows]="tableData | async"
            [config]="tableConfig"
            (filterData)="filterTable($event)"
            [rowDetailConfig]="rowDetailIcons"
        ></app-table>
    </div>

    <div class="w-100 mb-100">
      <div class="rc-light-grey-bg mt-15 p-16 d-flex justify-content-between">
        <!--  -->
        <div class="btn-group" dropdown>
          
          <button id="button-basic" dropdownToggle type="button" class="btn-no-padding btn-tertiary-nounderlied"  aria-controls="dropdown-basic">
            Options <span class="ml-6"> <img src="./../../../assets/images/Chevron-red.svg" alt="Delete-icon" class="icon-w20-h20" /></span>
          </button>

          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
          </ul>
        </div>
      <!--  -->

        <div>
            <app-button type="button" (click)="openModal(template)" color="secondaryB" class="mr-8">
            Add product
          </app-button>

          <app-button type="button" color="primary" (click)="checkout()">
            Check Out
          </app-button>

        </div>

      </div>
    </div>
  </div>
</app-page-container>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class=" rc-card-grid row">
      <div class="col-3 mb-32" *ngFor="let item of allProducts">        
        <app-shop-card [item]="item"></app-shop-card>

      </div>

    </div>
  </div>
</ng-template>
<ng-template #hoverDetailTpl let-column="column" let-row="row">
    <div class="d-flex justify-content-end w-100">
      <div class="d-flex bg-container justify-content-end py-10 mt-n10">
        <div class="row-detail d-flex align-items-center"></div>
      </div>
    </div>
  </ng-template>

  <ng-template #actionDropdown let-column="column" let-row="row">
    <div>
      <img src="./../../../assets/images/Delete.svg" alt="Delete-icon" class="icon-w20-h20" />
    </div>
    
  </ng-template>

  <ng-template #valueTemplate let-column="column" let-row="row" let-value="cellValue">
   <div class="text-right px-0 mx-0">
        <span>
        $
        </span>
        <span>
            {{ value }}
        </span>
   </div>
</ng-template>

<ng-template #discountTemplate let-column="column" let-row="row" let-value="cellValue">
   <div class="text-right px-0 mx-0">
        <span>
        {{ value }}
        </span>
        <span>
            %
        </span>
        <img src="./../../../assets/images/Edit.svg" alt="edit-icon" class="icon-w16-h16" />
   </div>
</ng-template>

<ng-template #quantityTemplate let-column="column" let-row="row" let-value="cellValue">
   <div class="text-right d-flex flex-row align-items-center justify-content-center">
        <div class="mr-8">
           {{ value }}
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center">
          <img src="./../../../assets/images/Caret-up.svg" alt="Caret-up" class="icon-w20-h10" />
          <img src="./../../../assets/images/Caret-down.svg" alt="Caret-down" class="icon-w20-h10" />
        </div>
   </div>
</ng-template>