<app-page-container [config]="containerConfig">
  <div class="w-100" container-body>
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <!--  -->
          <app-button
            color="tertiary"
            [routerLink]="[backUrl]"
            [class]="
              'd-flex align-items-center rc-accent-blue-160-color montserrat-semibold-font ml-n20'
            "
          >
            <svg-icon
              [class]="'icon-w16-h16 mr-1'"
              [src]="caretLeftIcon"
              alt="Icon"
              applyClass="true"
            >
            </svg-icon>
            CUSTOMERS
          </app-button>
          <!--  -->

          <h1
            class="s30-h40 rc-accent-blue-160-color montserrat-medium-font ls-0"
          >
           Abracadabra SRL
          </h1>
        </div>
      </div>
    </div>

    <div class="w-100 mt-24 mb-39 px-0">
        <ng-container [style.display]="tabSwitch ? 'block' : 'none'">

            <app-tabs [selectedTemplate]="tabSwitch">
                <app-tab-bar [marked]="tabMarked">
                    <app-tab-button 
                        [selected]="tab.isSelected" 
                        [defaultSelected]="tab.defaultSelected" 
                        (click)="switchTab($event, tab.template, i)" 
                        *ngFor="let tab of tabs; let i = index" 
                    >{{ tab.name }}</app-tab-button>
                </app-tab-bar>  

            </app-tabs>
        </ng-container>
    </div>

    

    
  </div>
</app-page-container>





<!-- tab templates -->

 <ng-template #detailsTab> 

    <div class="w-100 pt-40">
        <form [formGroup]="componentForm" class="row no-gutters">
            <div class="col-12 col-md-3 px-0 pr-0 pr-md-16">
                <div class="row">
                    <div class="col-12 mb-14">
                        <app-input
                            [config]="inputConfig('Name')"
                            formControlName="name"
                        ></app-input>
                    </div>
                    <div class="col-12 mb-14">
                        <app-input
                            [config]="inputConfig('Contact person')"
                            formControlName="contactPerson"
                        ></app-input>
                    </div>
                    <div class="col-12 mb-14">
                        <app-select
                            [config]="selectionConfig('Type')"
                            formControlName="type"
                        ></app-select>
                    </div>
                    <div class="col-12">
                        <app-select
                            [config]="selectionConfig('Parent')"
                            formControlName="parent"
                        ></app-select>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 px-md-16">
                <div class="row">
                    <div class="col-12 mb-14">
                        <app-textarea [config]="textAreaConfig" formControlName="address" id="address"></app-textarea>
                    </div>
                    <div class="col-12 mb-14">
                        <app-input
                            [config]="inputConfig('Country')"
                            formControlName="country"
                        ></app-input>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 px-md-16">
                <div class="row">
                    <div class="col-12 mb-14">
                        <app-input
                            [config]="inputConfig('Phone', 'tel')"
                            formControlName="phone"
                        ></app-input>
                    </div>
                    <div class="col-12">
                        <app-input
                            [config]="inputConfig('Email', 'email')"
                            formControlName="email"
                        ></app-input>
                    </div>
                    <div class="col-12 mb-14">
                        <app-input
                            [config]="inputConfig('Anniversary date')"
                            formControlName="anniversaryDate"
                        ></app-input>
                    </div>
                    <div class="col-12 mb-14">
                        <app-input
                            [config]="inputConfig('Subscription fee', 'text', '', true)"
                            formControlName="subscriptionFee"
                        >
                        </app-input>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 px-0 pl-md-16">
            <div class="row">
                <div class="col-12 mb-14">
                <app-input
                    [config]="inputConfig('Support hours contract')"
                    formControlName="supportHoursContract"
                ></app-input>
                </div>
                <div class="col-12 mb-14">
                <app-input
                    [config]="inputConfig('Support hours available')"
                    formControlName="supportHoursAvailable"
                >
                </app-input>
                </div>
            </div>
            </div>
        </form>
    </div>
    <div class="w-100">
      <div class="rc-light-grey-bg mt-15 p-16 d-flex justify-content-end">
        <app-button type="button" color="secondaryB" class="mr-8">
          Renew Subscription
        </app-button>

        <app-button type="button" color="primary"> 
            Update profile 
        </app-button>

      </div>
    </div>

</ng-template>

<!--  -->
<ng-template #licenseTab> second Tab 

</ng-template>   

<ng-template #loaderTemplate>

    <div class="w-100 pt-60 pb-30 d-flex flex-column justify-content-center align-items-center">
        <app-loader type="button"></app-loader>
        <div class="rc-accent-blue-160-color montserrat-semibold-font s15-h24">
            Please wait...
        </div>
    </div>
    
</ng-template>
<!-- end of tab templates -->