<app-page-container [config]="containerConfig" >
    <div container-body>
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">  
              <p class="pyramid-title">ADMINISTRATION</p>
            
            <h2 class="customers-title page-title">Products</h2>
          </div>
          <div class="col-auto float-right ml-auto">
            <button [routerLink]="['add-product']"  class="btn btn-danger rounded-75 add-customer"> Add Product</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-table
          [rows]="tableData | async"
          [config]="tableConfig"
          (filterData)="filterTable($event)"
          [rowDetailConfig]="rowDetailIcons"
        ></app-table>
        </div>
      </div>
    </div>
  </app-page-container>
  
  <ng-template #hoverDetailTpl let-column="column" let-row="row">
    <div class="d-flex justify-content-end w-100">
      <div class="d-flex bg-container justify-content-end py-10 mt-n10">
        <div class="row-detail d-flex align-items-center"></div>
      </div>
    </div>
  </ng-template>
  <ng-template #actionDropdown let-column="column" let-row="row" let-rowIndex="rowIndex">
    <div *ngIf="rowIndex % 10 < 6" class="btn-group" dropdown >
      <a  id="button-basic" dropdownToggle type="button" class="text-dark a-ellipse"
              aria-controls="dropdown-basic">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </a>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li (click)="manageSub(row)" role="menuitem"><a class="dropdown-item">Manage</a></li>
        <li (click)="openModal(deleteTemplate, row)" role="menuitem"><a class="dropdown-item">Delete</a></li>
      </ul>
    </div>
    <div *ngIf="rowIndex % 10 >= 6" class="btn-group" dropdown [dropup]="true">
      <a  id="button-basic" dropdownToggle type="button" class="text-dark a-ellipse"
              aria-controls="dropdown-basic">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </a>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li (click)="manageSub(row)" role="menuitem"><a class="dropdown-item">Manage</a></li>
        <li (click)="openModal(deleteTemplate, row)" role="menuitem"><a class="dropdown-item">Delete</a></li>
      </ul>
    </div>
  </ng-template>

<ng-template #descriptionTemplate let-column="column" let-row="row" let-value="cellValue">
    <div>
      {{ row?.description | truncate:30 }}
    </div>
</ng-template>

  <ng-template #deleteTemplate>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>
