<div class="w-100 mt-10">
    <h1>Inputs</h1>
</div>
<div class="w-100">
    <div class="row">
        <div class="col-4">
            <app-input [config]="inputConfig"></app-input>
        </div>
        <div class="col-4">
            <app-select [config]="selectConfig"></app-select>
        </div>
        <div class="col-4">
            <app-input [config]="configWithPrefix"></app-input>
        </div>
    </div>

    <form [formGroup]="styleForm" class="row" (ngSubmit)="submitIt()">
        <div class="col-4">
            <app-input [config]="configFilled" formControlName="text"></app-input>
        </div>
        <div class="col-4">
            <app-select [config]="selectConfigFilled" [options]='selectOptions'></app-select>
        </div>
        <div class="col-4">
            <app-input [config]="configFilledWithPrefix" formControlName="textWithPrefix"></app-input>
        </div>
    </form>

    <div class="row">
        <div class="col-4">
            <app-input [config]="configDisabled"></app-input>
        </div>
        <div class="col-4">
            <app-select [config]="selectConfigDisabled"></app-select>
        </div>
        <div class="col-4">
            <app-input [config]="configDisabledWithPrefix"></app-input>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <app-input [config]="configError"></app-input>
        </div>
        <div class="col-4">
            <app-select [config]="selectConfigError"></app-select>
        </div>
        <div class="col-4">
            <app-input [config]="configErrorWithPrefix"></app-input>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <app-input [config]="configWithFocus"></app-input>
        </div>
        <div class="col-4">
            <app-select [config]="selectConfigFocus"></app-select>
        </div>
        <div class="col-4">
            <app-input [config]="configFocusWithPrefix"></app-input>
        </div>
    </div>
    
</div>
<!--  -->
<div class="w-100 mt-64">
    <h1>Buttons</h1>
</div>
<div class="w-100 mt-10">
    <div class="col-3">
        <app-button type="submit">
            Passed in
        </app-button>
    </div>
</div>