<app-page-container [config]="containerConfig">
    <div class="w-100" container-body>

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <!--  -->
                    <app-button color="tertiary" [routerLink]="[backUrl]" [class]="'d-flex align-items-center rc-accent-blue-160-color montserrat-semibold-font ml-n20'">
                        <svg-icon
                            [class]="'icon-w16-h16 mr-8'"
                            [src]="caretLeftIcon"
                            alt="Icon"
                            applyClass="true"
                            >
                        </svg-icon>
                            CUSTOMERS
                    </app-button>
                    <!--  -->

                    <h1 class="s30-h40 rc-accent-blue-160-color montserrat-medium-font ls-0">New customer</h1>
                </div>
            </div>
        </div>
        <div class="line-h1 rc-secondary-bg mt-24 mb-38"></div>
        
    </div>
</app-page-container>
