@import "assets/mixins";
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import "assets/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "assets/theme";
@import "~@ng-select/ng-select/themes/default.theme.css";


html {
  height: 100%;
}
.nav-row{
  flex-direction: row !important;
}
.a-ellipse{
  z-index: 100 !important;
}
.dropdown-item{ 
  height: rem(40);
  color: $rc-grey;
  font-family: Montserrat;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
  transition: all 0.5s ease;
}
.dropdown-item:hover, .dropdown-item:focus{ 
  background-color: $rc-light-grey;
  font-weight: 500;
  color: $rc-accent-blue-160;
}
.dropdown-menu{
  position: absolute !important;
  z-index: 10000 !important;  
  left: auto !important;
  right: 0 !important;
}
.dropdown-menu-b {
  display: block;
  left: auto !important;
  right: 0 !important;
}
.custom-dropdown-menu {
  bottom: rem(30) !important;
}
.btn-group.show .dropdown-toggle {
   box-shadow: none 
}
.datatable-body-cell{
  overflow: visible !important;
}
.datatable-footer-inner[style]{
  height: auto !important;
  align-items: start !important;
}
.ngx-datatable.bootstrap .datatable-header .datatable-header-cell {
   border-bottom: 1px dotted $rc-accent-blue-160; 
}
/* remove border if noFiltering is true for table config  */
.ngx-datatable.noFiltering  {
  border-top: none !important;
}
.ngx-datatable.noFiltering .datatable-header .datatable-header-cell {
   border-bottom: none !important; 
}
/*  */
.footer-container {
  margin-top: 0.5em !important;
  padding-top: 15px;
  height: 120px !important;
}
.pyramid-title {  
  color: $rc-accent-blue;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 16px;
  margin-top: rem(24);
  margin-bottom: 0px;
}

.customers-title {    
  color: #D9471F;
  font-family: Montserrat;
  font-size: rem(30);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 40px;
  margin-bottom: rem(24);
}
.rc-dropdown{
  box-sizing: border-box;
  border: 1px solid #CDE0EC;
  padding-right: rem(16);
  padding-left: rem(16);
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 10px 0 rgba(0,56,91,0.21), 0 50px 50px -20px rgba(0,56,91,0.1);
}

.page-title{
  color: $rc-accent-blue-160;
}
.datatable-body-cell {
  overflow-wrap: break-word !important;
}
.totalVal input {
   
  background-color: #fff !important;
}

  .modal-lg {
      width: 100% !important;
  }


.modal {
  overflow-x: hidden !important;
  overflow-y: auto !important;
  height: 100%;
}
.order-dropdown{
  left: 0 !important;
}
.empty-row{
  display: none;
}