@import "assets/mixins";
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import "assets/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "assets/theme";

html {
  height: 100%;
}
.a-ellipse{
  z-index: 100 !important;
}
.dropdown-menu{
  z-index: 10000 !important;  
  left: auto !important;
  right: 0 !important;
}
.datatable-body-cell{
  overflow: visible !important;
}
.datatable-footer-inner[style]{
  height: 100px !important;
}

.footer-container{
margin-top: 0.5em !important;
padding-top: 15px;
height: 120px !important;
}