<app-page-container [config]="containerConfig">
  <div container-body>
    <app-table
      [rows]="tableData | async"
      [config]="tableConfig"
      (filterData)="filterTable($event)"
      [rowDetailConfig]="rowDetailIcons"
    ></app-table>
  </div>
</app-page-container>

<ng-template #hoverDetailTpl let-column="column" let-row="row">
  <div class="d-flex justify-content-end w-100">
    <div class="d-flex bg-container justify-content-end py-10 mt-n10">
      <div class="row-detail d-flex align-items-center">
        <a class="mr-12"
        ><svg-icon
          [src]="rowDetailIcons[1]"
          [applyClass]="true"
          class="row-detail-icon"
        ></svg-icon
      ></a>
      <a class="mr-12"
      ><svg-icon
        [src]="rowDetailIcons[0]"
        [applyClass]="true"
        class="row-detail-icon"
      ></svg-icon
    ></a>
      </div>
    </div>
  </div>
</ng-template>
