<app-overlay [centerItem]="centerModal">

        <div role="document" class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">      

                <div class="modal-header">
                    <p class="m-0 s22-h32 montserrat-bold-font rc-accent-blue-160-color">
                        Add product
                    </p>
                </div>
                <div class="modal-body">
                    <div class="rc-card-grid-b">
                        <app-product-card></app-product-card>
                        <app-product-card></app-product-card>
                        <app-product-card></app-product-card>
                        <app-product-card></app-product-card>
                        <app-product-card></app-product-card>
                        <app-product-card></app-product-card>
                        <app-product-card></app-product-card>
                    </div>
                    
                </div>
            
            </div>
        </div>

</app-overlay>