<app-page-container [config]="containerConfig">
    <div class="w-100" container-body>
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <p class="pyramid-title">PYRAMID</p>

                    <h1 class="customers-title">Customers</h1>
                </div>
                <div class="col-auto float-right ml-auto">
                    <!--  -->
                    <app-button type="button" color="primary" [routerLink]="['create']" >
                        Add Customer
                    </app-button>
                    <!--  -->
                </div>
            </div>
        </div>
        <app-table [rows]="tableData | async" [config]="tableConfig" (filterData)="filterTable($event)"
            [rowDetailConfig]="rowDetailIcons"></app-table>
    </div>
</app-page-container>

<ng-template #hoverDetailTpl let-column="column" let-row="row">
    <div class="d-flex justify-content-end w-100">
        <div class="d-flex bg-container justify-content-end py-10 mt-n10">
            <div class="row-detail d-flex align-items-center"></div>
        </div>
    </div>
</ng-template>

<ng-template #actionDropdown let-column="column" let-row="row" let-rowIndex="rowIndex">

    <div class="btn-group" dropdown [dropup]="isDropup">
        <a (click)="setDropUp(row)" id="button-basic" dropdownToggle type="button" class="text-dark a-ellipse"
            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
        </a>
        <ul aria-labelledby="dropdownMenuButton" *dropdownMenu class="dropdown-menu" role="menu"
            aria-labelledby="button-basic">
            <li (click)="manageSub(row)" role="menuitem"><a class="dropdown-item">Manage</a></li>
            <li (click)="renewSub(row)" role="menuitem"><a class="dropdown-item">Renew Subscription</a></li>
            <li (click)="removeRow(row)" role="menuitem"><a class="dropdown-item">Delete</a></li>

        </ul>
    </div>

</ng-template>

<ng-template #subFeeTemplate let-column="column" let-row="row" let-value="cellValue">
    <span>
        $
    </span>
    <span>
        {{ value }}
    </span>
</ng-template>